RewriteEngine on


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?(.*)$ /bas-winkel/index.php?route=/$1 [L,QSA]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.mp4$ $1.php [L]

